<!DOCTYPE html>
<html>
<head>
    <title>
        Mart
    </title>
</head>
<body>
<h2>Result Message: {{msg}}</h2>
<form action="{{url_for('index')}}" method="POST">
    <input type="text" name="usn" > USN<br>
    <input type="text" name="dob"> DOB<br>
    <input type="number" id="n1" name="m1" > M1<br>
    <input type="number" id="n2" name="m2" > M2<br>
    <input type="number" id="n3" name="m3" > M3<br>
    <input type="submit" name="action" value="Submit" name="Submit">

</form>
</body>
</html>